header
	background-color: #fff
	text-transform: uppercase
	font-size: 11px
	
	.top-pannel
		height: 45px
		// width: 100%
		margin-right: 150px
		margin-left: 150px
		.query-pannel
			padding: 0


			ul, li
				list-style-type: none
				display: inline-block
			li
				margin-top: 17px
				margin-bottom: 15px
				margin-right: 35px
				a
					text-decoration: none
					cursor: pointer
					color: #adadad
					border-bottom: 2px solid transparent
					&:hover
						text-decoration: none
						color: #333333
						border-bottom: 2px solid #187cd6
						padding-bottom: 7px
						transition: all .25s ease
			


		.top-dropdowns
			margin-top: 15px
			margin-bottom: 15px
			color: #adadad
			font-size: 11px
			float: right
   		margin-right: 8px
			.currency-select
				
				.fa
					padding-left: 12px

			.language-select
				max-width: 50px
				padding-left: 20px
				margin-top: 15px
				margin-bottom: 15px
				.fa
					padding-left: 8px
				